{
  "openapi": "3.1.0",
  "info": {
    "title": "Tripwire Server SDK API",
    "description": "Customer-facing server-side Tripwire APIs for the public SDK surface.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tripwirejs.com",
      "description": "Managed Tripwire API"
    }
  ],
  "paths": {
    "/v1/sessions": {
      "get": {
        "summary": "List durable session result summaries",
        "description": "Requires a secret key.",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid session list query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verdict",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bot",
                "human",
                "inconclusive"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Sessions"
        ],
        "operationId": "listSessions"
      }
    },
    "/v1/sessions/{sessionId}": {
      "get": {
        "summary": "Retrieve durable session detail",
        "description": "Requires a secret key.",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load the session detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Sessions"
        ],
        "operationId": "getSession"
      }
    },
    "/v1/fingerprints": {
      "get": {
        "summary": "List durable visitor fingerprints",
        "description": "Requires a secret key.",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FingerprintsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid fingerprint list query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load fingerprints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "seen_count",
                "first_seen"
              ]
            }
          }
        ],
        "tags": [
          "Fingerprints"
        ],
        "operationId": "listFingerprints"
      }
    },
    "/v1/fingerprints/{visitorId}": {
      "get": {
        "summary": "Retrieve durable fingerprint detail",
        "description": "Requires a secret key.",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FingerprintId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FingerprintDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Fingerprint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load the fingerprint detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Fingerprints"
        ],
        "operationId": "getFingerprint"
      }
    },
    "/v1/teams": {
      "post": {
        "summary": "Create a team",
        "description": "Requires a secret key.",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "This endpoint requires a secret key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The requested team slug already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid team creation payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not create the team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "createTeam"
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "summary": "Retrieve a team",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested team was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load the team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam"
      },
      "patch": {
        "summary": "Update a team",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested team was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid team update payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not update the team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "updateTeam"
      }
    },
    "/v1/teams/{teamId}/api-keys": {
      "get": {
        "summary": "List team API keys",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested team was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid API key list query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not load team API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "operationId": "listTeamApiKeys"
      },
      "post": {
        "summary": "Create a team API key pair",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key pair created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested team was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid API key creation payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not create the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "operationId": "createTeamApiKey"
      }
    },
    "/v1/teams/{teamId}/api-keys/{keyId}": {
      "delete": {
        "summary": "Revoke a team API key",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested API key was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not revoke the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "operationId": "revokeTeamApiKey"
      }
    },
    "/v1/teams/{teamId}/api-keys/{keyId}/rotations": {
      "post": {
        "summary": "Rotate a team API key pair",
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "API key pair rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The provided key cannot access this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested API key was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tripwire could not rotate the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "operationId": "rotateTeamApiKey"
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKey": {
        "type": "object",
        "required": [
          "object",
          "id",
          "key",
          "name",
          "isTest",
          "allowedOrigins",
          "rateLimit",
          "status",
          "createdAt",
          "rotatedAt",
          "revokedAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "api_key"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/ApiKeyId"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isTest": {
            "type": "boolean"
          },
          "allowedOrigins": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "rateLimit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ApiKeyStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "rotatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "ApiKeyId": {
        "type": "string",
        "pattern": "^key_[0123456789abcdefghjkmnpqrstvwxyz]{26}$",
        "example": "key_6789abcdefghjkmnpqrstvwxyz"
      },
      "ApiKeyListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CursorPagination"
          }
        },
        "additionalProperties": false
      },
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/IssuedApiKey"
          }
        },
        "additionalProperties": false
      },
      "ApiKeyStatus": {
        "type": "string",
        "enum": [
          "active",
          "revoked",
          "rotated"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "isTest": {
            "type": "boolean"
          },
          "allowedOrigins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rateLimit": {
            "type": "integer",
            "minimum": 1
          }
        },
        "additionalProperties": false
      },
      "CreateTeamRequest": {
        "type": "object",
        "required": [
          "name",
          "slug"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "pattern": "^[a-z0-9-]+$",
            "minLength": 1,
            "example": "tripwire-production"
          }
        },
        "additionalProperties": false
      },
      "CursorPagination": {
        "type": "object",
        "required": [
          "limit",
          "hasMore"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/PublicError"
          }
        },
        "example": {
          "error": {
            "code": "auth.missing_api_key",
            "message": "Missing Authorization header. Send Authorization: Bearer <token> to authenticate this request.",
            "status": 401,
            "retryable": false,
            "requestId": "req_0123456789abcdef0123456789abcdef",
            "docsUrl": "https://tripwirejs.com/docs/api-reference/introduction"
          }
        },
        "additionalProperties": false
      },
      "EventId": {
        "type": "string",
        "pattern": "^evt_[0123456789abcdefghjkmnpqrstvwxyz]{26}$",
        "example": "evt_23456789abcdefghjkmnpqrstv"
      },
      "FingerprintDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FingerprintSummary"
          },
          {
            "type": "object",
            "properties": {
              "sessions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "eventId": {
                      "$ref": "#/components/schemas/EventId"
                    },
                    "verdict": {
                      "$ref": "#/components/schemas/Verdict"
                    },
                    "riskScore": {
                      "type": "integer"
                    },
                    "scoredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "userAgent": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "clientIp": {
                      "type": "string"
                    },
                    "screenSize": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "categoryScores": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "eventId",
                    "verdict",
                    "riskScore",
                    "scoredAt",
                    "userAgent",
                    "url",
                    "clientIp",
                    "screenSize",
                    "categoryScores"
                  ]
                }
              }
            },
            "required": [
              "sessions"
            ]
          }
        ],
        "unevaluatedProperties": false
      },
      "FingerprintDetailResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/FingerprintDetail"
          }
        },
        "additionalProperties": false
      },
      "FingerprintId": {
        "type": "string",
        "pattern": "^vid_[0123456789abcdefghjkmnpqrstvwxyz]{26}$",
        "example": "vid_456789abcdefghjkmnpqrstvwx"
      },
      "FingerprintReference": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "fingerprint"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/FingerprintId"
          },
          "confidence": {
            "type": [
              "integer",
              "null"
            ]
          },
          "timestamp": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "confidence",
          "timestamp"
        ]
      },
      "FingerprintSummary": {
        "type": "object",
        "required": [
          "object",
          "id",
          "firstSeenAt",
          "lastSeenAt",
          "seenCount",
          "lastUserAgent",
          "lastIp",
          "expiresAt",
          "anchorWebglHash",
          "anchorParamsHash",
          "anchorAudioHash",
          "fingerprintVector",
          "hasCookie",
          "hasLs",
          "hasIdb",
          "hasSw",
          "hasWn"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "fingerprint"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/FingerprintId"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "seenCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastUserAgent": {
            "type": "string"
          },
          "lastIp": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "anchorWebglHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "anchorParamsHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "anchorAudioHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "fingerprintVector": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "hasCookie": {
            "type": "boolean"
          },
          "hasLs": {
            "type": "boolean"
          },
          "hasIdb": {
            "type": "boolean"
          },
          "hasSw": {
            "type": "boolean"
          },
          "hasWn": {
            "type": "boolean"
          }
        }
      },
      "FingerprintsListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FingerprintSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CursorPagination"
          }
        },
        "additionalProperties": false
      },
      "IssuedApiKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "required": [
              "secretKey"
            ],
            "properties": {
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "ManipulationVerdict": {
        "type": "string",
        "enum": [
          "none",
          "low",
          "medium",
          "high"
        ]
      },
      "NextAction": {
        "type": "string",
        "enum": [
          "retry",
          "new_session",
          "reload_bundle",
          "contact_support"
        ]
      },
      "PublicError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "status",
          "retryable",
          "requestId"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "auth.missing_api_key",
            "description": "Tripwire public error code. See x-tripwire-known-values-ref for the documented stable set.",
            "x-tripwire-known-values-ref": "#/components/schemas/KnownPublicErrorCode"
          },
          "message": {
            "type": "string",
            "example": "Missing Authorization header. Send Authorization: Bearer <token> to authenticate this request."
          },
          "status": {
            "type": "integer",
            "example": 401,
            "minimum": 400,
            "maximum": 599
          },
          "retryable": {
            "type": "boolean",
            "example": false
          },
          "requestId": {
            "$ref": "#/components/schemas/RequestId",
            "example": "req_0123456789abcdef0123456789abcdef"
          },
          "docsUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://tripwirejs.com/docs/api-reference/introduction"
          },
          "details": {
            "$ref": "#/components/schemas/TripwireErrorDetails"
          }
        },
        "additionalProperties": false
      },
      "RequestId": {
        "type": "string",
        "pattern": "^req_[0-9a-f]{32}$",
        "example": "req_0123456789abcdef0123456789abcdef"
      },
      "ResultSummary": {
        "type": "object",
        "required": [
          "eventId",
          "verdict",
          "riskScore",
          "phase",
          "provisional",
          "manipulationScore",
          "manipulationVerdict",
          "evaluationDuration",
          "scoredAt"
        ],
        "properties": {
          "eventId": {
            "$ref": "#/components/schemas/EventId"
          },
          "verdict": {
            "$ref": "#/components/schemas/Verdict"
          },
          "riskScore": {
            "type": "integer",
            "minimum": 0
          },
          "phase": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TripwirePhase"
              },
              {
                "type": "null"
              }
            ]
          },
          "provisional": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "manipulationScore": {
            "type": [
              "integer",
              "null"
            ]
          },
          "manipulationVerdict": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ManipulationVerdict"
              },
              {
                "type": "null"
              }
            ]
          },
          "evaluationDuration": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "scoredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "required": [
          "object",
          "id",
          "createdAt",
          "latestEventId",
          "latestResult",
          "ipIntel",
          "fingerprint",
          "resultHistory"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "session"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "latestEventId": {
            "$ref": "#/components/schemas/EventId"
          },
          "latestResult": {
            "$ref": "#/components/schemas/SessionLatestResultDetail"
          },
          "fingerprint": {
            "$ref": "#/components/schemas/FingerprintReference"
          },
          "resultHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultSummary"
            }
          },
          "ipIntel": {
            "$ref": "#/components/schemas/SessionIpIntel"
          }
        },
        "additionalProperties": false
      },
      "SessionDetailResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SessionDetail"
          }
        },
        "additionalProperties": false
      },
      "SessionId": {
        "type": "string",
        "pattern": "^sid_[0123456789abcdefghjkmnpqrstvwxyz]{26}$",
        "example": "sid_0123456789abcdefghjkmnpqrs"
      },
      "SessionIpIntel": {
        "anyOf": [
          {
            "type": "object",
            "additionalProperties": true
          },
          {
            "type": "null"
          }
        ]
      },
      "SessionLatestResultDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResultSummary"
          },
          {
            "type": "object",
            "properties": {
              "visitorId": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/FingerprintId"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "userAgent": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "screenSize": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "touchDevice": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "clientIp": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "visitorId",
              "metadata"
            ]
          }
        ],
        "unevaluatedProperties": false
      },
      "SessionSummary": {
        "type": "object",
        "required": [
          "object",
          "id",
          "createdAt",
          "latestEventId",
          "latestResult",
          "fingerprint",
          "lastScoredAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "session"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "latestEventId": {
            "$ref": "#/components/schemas/EventId"
          },
          "latestResult": {
            "$ref": "#/components/schemas/ResultSummary"
          },
          "fingerprint": {
            "$ref": "#/components/schemas/FingerprintReference"
          },
          "lastScoredAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "SessionsListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CursorPagination"
          }
        },
        "additionalProperties": false
      },
      "Team": {
        "type": "object",
        "required": [
          "object",
          "id",
          "name",
          "slug",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "team"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/TeamId"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "pattern": "^[a-z0-9-]+$",
            "minLength": 1,
            "example": "tripwire-production"
          },
          "status": {
            "$ref": "#/components/schemas/TeamStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "TeamId": {
        "type": "string",
        "pattern": "^team_[0123456789abcdefghjkmnpqrstvwxyz]{26}$",
        "example": "team_56789abcdefghjkmnpqrstvwxy"
      },
      "TeamResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Team"
          }
        },
        "additionalProperties": false
      },
      "TeamStatus": {
        "type": "string",
        "enum": [
          "active",
          "suspended",
          "deleted"
        ]
      },
      "TripwireErrorDetails": {
        "type": "object",
        "properties": {
          "fieldErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TripwireFieldError"
            }
          },
          "allowedValues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "header": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "nextAction": {
            "$ref": "#/components/schemas/NextAction"
          }
        },
        "additionalProperties": false
      },
      "TripwireFieldError": {
        "type": "object",
        "required": [
          "field",
          "issue"
        ],
        "properties": {
          "field": {
            "type": "string",
            "minLength": 1
          },
          "issue": {
            "type": "string",
            "minLength": 1
          },
          "expected": {
            "type": "string"
          },
          "received": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "TripwirePhase": {
        "type": "string",
        "enum": [
          "snapshot",
          "behavioral"
        ]
      },
      "UpdateTeamRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "$ref": "#/components/schemas/TeamStatus"
          }
        },
        "additionalProperties": false
      },
      "Verdict": {
        "type": "string",
        "enum": [
          "bot",
          "human",
          "inconclusive"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
