{
  "openapi": "3.1.0",
  "info": {
    "title": "Tripwire Server SDK API",
    "version": "2026-03-25",
    "description": "Customer-facing server-side Tripwire APIs for the public SDK surface."
  },
  "servers": [
    {
      "url": "https://api.tripwirejs.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Durable session readback endpoints."
    },
    {
      "name": "Visitor fingerprints",
      "description": "Durable visitor fingerprint readback endpoints."
    },
    {
      "name": "Organizations",
      "description": "Organization lifecycle endpoints."
    },
    {
      "name": "API Keys",
      "description": "Organization API key lifecycle endpoints."
    },
    {
      "name": "Gate",
      "description": "Registry, organization-owned services, signup sessions, agent tokens, and dashboard login sessions."
    },
    {
      "name": "Gate Webhooks",
      "description": "Outbound Gate webhook delivery contracts."
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints, subscriptions, and outgoing event delivery."
    },
    {
      "name": "Events",
      "description": "Inspect organization events and their webhook delivery attempts."
    }
  ],
  "paths": {
    "/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "listSessions",
        "summary": "List sessions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
            }
          },
          {
            "name": "verdict",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Verdict",
              "example": "human"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "arm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse",
                  "example": {
                    "data": [
                      {
                        "object": "session",
                        "id": "sid_87wfetm98myh9awj0dpt28a3kc",
                        "created_at": "2026-03-24T20:00:00.000Z",
                        "latest_decision": {
                          "event_id": "evt_srwqc0yqhz4bxvtrdtf69q7vkr",
                          "verdict": "human",
                          "risk_score": 94,
                          "phase": "snapshot",
                          "is_provisional": false,
                          "manipulation": {
                            "score": 1,
                            "verdict": "none"
                          },
                          "evaluation_duration_ms": 123,
                          "evaluated_at": "2026-03-24T20:00:05.000Z"
                        },
                        "visitor_fingerprint": {
                          "object": "visitor_fingerprint",
                          "id": "vid_7cyvmdfjs3rzznf8m65v3bv51m",
                          "confidence": 1,
                          "identified_at": "2026-03-24T20:00:05.000Z"
                        }
                      }
                    ],
                    "pagination": {
                      "limit": 50,
                      "has_more": false,
                      "next_cursor": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `sessions:list` secret-key scope."
      }
    },
    "/v1/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "getSession",
        "summary": "Retrieve one session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId",
              "example": "sid_87wfetm98myh9awj0dpt28a3kc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session detail response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse",
                  "example": {
                    "data": {
                      "object": "session",
                      "id": "sid_87wfetm98myh9awj0dpt28a3kc",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "decision": {
                        "event_id": "evt_srwqc0yqhz4bxvtrdtf69q7vkr",
                        "automation_status": "automated",
                        "risk_score": 94,
                        "evaluation_phase": "snapshot",
                        "decision_status": "preliminary",
                        "evaluated_at": "2026-03-24T20:00:05.000Z"
                      },
                      "highlights": [
                        {
                          "key": "browser_automation",
                          "effect": "increases_risk",
                          "importance": "high",
                          "summary": "Browser is being driven by automation",
                          "evidence": [
                            {
                              "signal": "webdriver_detected",
                              "name": "Acme Growth Workspace"
                            }
                          ]
                        }
                      ],
                      "automation": {
                        "category": "environment",
                        "confidence": 1.5,
                        "provider": "browserless",
                        "product": "chrome",
                        "framework": "playwright",
                        "concealment_style": "stealth",
                        "organization": "Browserless, Inc.",
                        "facets": {
                          "category": {
                            "value": "automation",
                            "confidence": 0.97,
                            "relation": "is"
                          }
                        }
                      },
                      "web_bot_auth": {
                        "status": "verified",
                        "domain": "browserless.io"
                      },
                      "network": {
                        "ip_address": "203.0.113.10",
                        "ip_version": "ipv4",
                        "status": "ready",
                        "summary": "Browser is being driven by automation",
                        "location": {
                          "city": "San Francisco",
                          "region": "California",
                          "country": "United States",
                          "country_code": "US",
                          "latitude": 37.7749,
                          "longitude": -122.4194,
                          "timezone": "America/Los_Angeles",
                          "postal_code": "94103",
                          "accuracy_radius_km": 10
                        },
                        "routing": {
                          "asn": "64512",
                          "organization": "SPECTRANET LIMITED"
                        },
                        "anonymity": {
                          "vpn": true,
                          "proxy": false,
                          "tor": false,
                          "relay": false,
                          "hosting": false,
                          "residential_proxy": false,
                          "callback_proxy": false,
                          "provider": "Mullvad VPN"
                        },
                        "reputation": {
                          "listed": true,
                          "categories": [
                            "vpn"
                          ],
                          "suspicious_network": false
                        },
                        "evidence": {
                          "risk_signals": [
                            "vpn"
                          ],
                          "operator_tags": [
                            "vpn"
                          ],
                          "client_types": [
                            "consumer"
                          ],
                          "client_count": 1
                        },
                        "evaluated_at": "2026-03-24T20:00:05.000Z"
                      },
                      "runtime_integrity": {
                        "tampering_detected": true,
                        "developer_tools_detected": true,
                        "emulation_suspected": false,
                        "virtualization_suspected": true,
                        "privacy_hardening_suspected": true,
                        "identity_spoofing_suspected": false,
                        "replay_suspected": false,
                        "outdated_environment": false,
                        "verified_bot_identity": false
                      },
                      "native_runtime_integrity": {
                        "platform": "ios",
                        "jailbreak_or_root": {
                          "detected": true,
                          "signals": [
                            "webdriver_detected"
                          ],
                          "present_paths": [
                            "present_paths"
                          ],
                          "dyld_insert_libraries": [
                            "dyld_insert_libraries"
                          ],
                          "verified_boot_state": "verified_boot_state",
                          "magisk_mount_present": true,
                          "su_on_path": true
                        },
                        "hooks": {
                          "detected": true,
                          "frida_ports": [
                            1.5
                          ],
                          "frida_thread_names": [
                            "Acme Workspace"
                          ],
                          "hooked_symbols": [
                            "hooked_symbols"
                          ],
                          "self_hooked_symbols": [
                            "self_hooked_symbols"
                          ],
                          "prologue_anomaly_count": 3,
                          "unexpected_dyld_images": [
                            "string"
                          ],
                          "xposed_packages": [
                            "xposed_packages"
                          ]
                        },
                        "debugger": {
                          "attached": true,
                          "tracer_pid": 1.5,
                          "breakpoint_count": 3,
                          "watchpoint_thread_count": 3
                        },
                        "code_signing": {
                          "invalid": true,
                          "code_sign_valid": true,
                          "text_integrity_ok": true,
                          "application_debuggable": true,
                          "dyld_insert_libraries": [
                            "dyld_insert_libraries"
                          ]
                        },
                        "simulator_or_emulator": {
                          "detected": true,
                          "is_ios_app_on_mac": true,
                          "qemu_files": [
                            "qemu_files"
                          ],
                          "ro_hardware": "ro_hardware",
                          "ro_product_model": "chrome",
                          "simulator_env_keys": [
                            "TRIPWIRE_SAMPLE_KEY"
                          ]
                        },
                        "hardware_claims_mismatch": {
                          "detected": true,
                          "signals": [
                            "webdriver_detected"
                          ]
                        },
                        "sim_posture": {
                          "detected": true,
                          "signals": [
                            "webdriver_detected"
                          ]
                        },
                        "app_provenance": {
                          "detected": true,
                          "signals": [
                            "webdriver_detected"
                          ]
                        },
                        "debug_posture": {
                          "detected": true,
                          "adb_enabled": true,
                          "developer_options_enabled": true,
                          "app_debuggable": true,
                          "app_profileable": true,
                          "app_test_only": true,
                          "debugger_attached": true,
                          "get_task_allow": true,
                          "embedded_provisioning_profile_present": true,
                          "receipt_is_sandbox": true,
                          "receipt_is_testflight": true,
                          "development_bundle": true,
                          "active_debugger_attached": true,
                          "breakpoint_count": 3,
                          "exception_port_count": 3,
                          "watchpoint_thread_count": 3,
                          "tracer_pid": 1.5,
                          "direct_syscall_tracer_pid": 1.5,
                          "risk_signals": [
                            "debugger_attached"
                          ]
                        }
                      },
                      "native_app": {
                        "bundle_id": "bundle_id",
                        "app_version": "123.0.0.0",
                        "app_build": "app_build",
                        "install_time_epoch_ms": 1.5,
                        "provisioning_team": "provisioning_team"
                      },
                      "native_carrier": {
                        "platform": "ios",
                        "carrier_name": "Acme Workspace",
                        "country_iso": "United States",
                        "mcc": "mcc",
                        "mnc": "mnc",
                        "phone_type": "phone_type",
                        "network_type": "network_type",
                        "radio_access": [
                          "radio_access"
                        ]
                      },
                      "native_motion_print": {
                        "platform": "ios",
                        "sample_count": 3,
                        "gyro": {
                          "bias": [
                            1.5,
                            2.5,
                            3.5
                          ],
                          "noise": [
                            1.5,
                            2.5,
                            3.5
                          ]
                        },
                        "accel": {
                          "bias": [
                            1.5,
                            2.5,
                            3.5
                          ],
                          "noise": [
                            1.5,
                            2.5,
                            3.5
                          ]
                        },
                        "mag": {
                          "bias": [
                            1.5,
                            2.5,
                            3.5
                          ],
                          "noise": [
                            1.5,
                            2.5,
                            3.5
                          ]
                        }
                      },
                      "device_identity": {
                        "object": "device_identity",
                        "id": "sid_87wfetm98myh9awj0dpt28a3kc",
                        "confidence": 93,
                        "source": "attested",
                        "platform": "ios",
                        "identified_at": "2026-03-24T20:00:05.000Z",
                        "lifecycle": {
                          "first_seen_at": "2026-03-01T18:22:11.000Z",
                          "last_seen_at": "2026-03-24T20:00:05.000Z",
                          "seen_count": 14
                        },
                        "matched_anchors": [
                          "matched_anchors"
                        ]
                      },
                      "install_id": "install_id",
                      "visitor_fingerprint": {
                        "object": "visitor_fingerprint",
                        "id": "vid_7cyvmdfjs3rzznf8m65v3bv51m",
                        "confidence": 1,
                        "identified_at": "2026-03-24T20:00:05.000Z",
                        "lifecycle": {
                          "first_seen_at": "2026-03-01T18:22:11.000Z",
                          "last_seen_at": "2026-03-24T20:00:05.000Z",
                          "seen_count": 1
                        }
                      },
                      "connection_fingerprint": {
                        "ja4": {
                          "hash": "t13d1516h2_0123456789ab_fedcba987654",
                          "profile": "chrome",
                          "family": "chromium",
                          "product": "chrome",
                          "confidence": "exact",
                          "match_source": "full_ja4",
                          "deterministic": true,
                          "reference": {
                            "label": "Chrome",
                            "source": "master_db",
                            "protocol": "t",
                            "tls_version": "13",
                            "sni": "d",
                            "alpn": "h2",
                            "cipher_count": {
                              "min": 15,
                              "max": 16
                            },
                            "ext_count": {
                              "min": 15,
                              "max": 16
                            },
                            "sample_size": 63,
                            "verified": true
                          }
                        },
                        "http2": {
                          "akamai_fingerprint": "1:65536;4:131072;5:16384|12517377|0|m,p,a,s",
                          "profile": "chrome"
                        },
                        "user_agent_alignment": "match"
                      },
                      "previous_decisions": [
                        {
                          "event_id": "evt_srwqc0yqhz4bxvtrdtf69q7vkr",
                          "automation_status": "automated",
                          "risk_score": 94,
                          "evaluation_phase": "snapshot",
                          "decision_status": "preliminary",
                          "evaluated_at": "2026-03-24T20:00:05.000Z"
                        }
                      ],
                      "request": {
                        "url": "https://app.acme.co/signup",
                        "referrer": "https://app.acme.co/",
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
                      },
                      "browser": {
                        "name": "Chromium",
                        "version": "123.0.0.0",
                        "major_version": "123",
                        "engine": "blink"
                      },
                      "device": {
                        "form_factor": "desktop",
                        "operating_system": {
                          "name": "macOS",
                          "version": "123.0.0.0"
                        },
                        "architecture": "arm",
                        "screen": {
                          "size": "1440x900",
                          "color_depth": 1,
                          "pixel_ratio": 1.5,
                          "orientation_type": "landscape-primary"
                        },
                        "locale": {
                          "timezone": "America/Los_Angeles",
                          "primary_language": "en-US",
                          "languages": [
                            "en-US",
                            "en"
                          ]
                        },
                        "capabilities": {
                          "touch": {
                            "available": true,
                            "max_touch_points": 1
                          },
                          "storage": {
                            "cookies": true,
                            "local_storage": true,
                            "indexed_db": true,
                            "service_worker": true,
                            "window_name": true
                          },
                          "webgpu": {
                            "available": true
                          },
                          "platform_authenticator": {
                            "available": true,
                            "conditional_mediation": true
                          },
                          "media_devices": {
                            "available": true
                          },
                          "speech_synthesis": {
                            "available": true
                          }
                        }
                      },
                      "analysis_coverage": {
                        "browser": true,
                        "device": true,
                        "network": true,
                        "runtime": true,
                        "behavioral": true,
                        "visitor_identity": true
                      },
                      "signals_fired": [
                        {
                          "signal": "webdriver_detected",
                          "role": "owner",
                          "category": "environment",
                          "strength": "definitive",
                          "signal_score": 100
                        }
                      ],
                      "client_telemetry": {
                        "navigator": {
                          "platform": "macOS",
                          "vendor": "Google Inc.",
                          "hardware_concurrency": 8,
                          "device_memory": 8,
                          "max_touch_points": 0,
                          "pdf_viewer_enabled": true,
                          "cookie_enabled": true,
                          "product_sub": "20030107",
                          "primary_language": "en-US",
                          "languages": [
                            "en-US",
                            "en"
                          ],
                          "mime_types_count": 3,
                          "plugins": [
                            "PDF Viewer"
                          ]
                        },
                        "storage": {
                          "cookies": true,
                          "local_storage": true,
                          "session_storage": true,
                          "indexed_db": true,
                          "service_worker": true,
                          "window_name": true
                        },
                        "canvas": {
                          "hash": 1234567890,
                          "geometry_hash": 1234567890,
                          "text_hash": 1234567890,
                          "winding": true,
                          "noise_detected": true,
                          "offscreen_consistent": true
                        },
                        "graphics": {
                          "webgl": {
                            "vendor": "Google Inc.",
                            "renderer": "ANGLE (Apple, ANGLE Metal Renderer: Apple M2, Unspecified Version)",
                            "version": "WebGL 1.0",
                            "shading_language_version": "WebGL GLSL ES 1.0",
                            "parameters_hash": "01234567",
                            "extensions_hash": 1234567890,
                            "extension_parameters_hash": "01234567",
                            "shader_precision_hash": 1234567890
                          },
                          "webgpu": {
                            "available": true,
                            "adapter_vendor": "Google Inc.",
                            "adapter_architecture": "arm",
                            "fallback_adapter": true,
                            "features_hash": 1234567890,
                            "limits_hash": 1234567890
                          }
                        },
                        "audio": {
                          "hash": 1.23456e-7,
                          "sample_rate": 1.5,
                          "channel_count": 3,
                          "voice_count": 22,
                          "local_voice_count": 20,
                          "default_voice_lang": "en-US",
                          "noise_detected": true
                        },
                        "fonts": {
                          "detected_count": 3,
                          "tested_count": 3,
                          "enumeration_hash": 1234567890,
                          "metrics_hash": 1234567890,
                          "preferences_hash": 1234567890,
                          "emoji_hash": 1234567890
                        },
                        "media": {
                          "device_count": 3,
                          "counts_by_kind": {
                            "audioinput": 1,
                            "audiooutput": 1,
                            "videoinput": 1
                          },
                          "blank_label_count": 3,
                          "topology_hash": 1234567890
                        }
                      }
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `sessions:read` secret-key scope."
      }
    },
    "/v1/fingerprints": {
      "get": {
        "tags": [
          "Visitor fingerprints"
        ],
        "operationId": "listVisitorFingerprints",
        "summary": "List visitor fingerprints",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "arm"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "seen_count",
                "first_seen"
              ],
              "example": "seen_count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor fingerprint list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorFingerprintListResponse",
                  "example": {
                    "data": [
                      {
                        "object": "visitor_fingerprint",
                        "id": "vid_7cyvmdfjs3rzznf8m65v3bv51m",
                        "lifecycle": {
                          "first_seen_at": "2026-03-01T18:22:11.000Z",
                          "last_seen_at": "2026-03-24T20:00:05.000Z",
                          "seen_count": 14,
                          "expires_at": "2026-03-24T20:00:05.000Z"
                        },
                        "latest_request": {
                          "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                          "ip_address": "203.0.113.10"
                        },
                        "storage": {
                          "cookies": true,
                          "local_storage": true,
                          "indexed_db": true,
                          "service_worker": true,
                          "window_name": true
                        },
                        "anchors": {
                          "webgl_hash": "123456789",
                          "parameters_hash": "-1234567890",
                          "audio_hash": "1234567890"
                        }
                      }
                    ],
                    "pagination": {
                      "limit": 50,
                      "has_more": false,
                      "next_cursor": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `fingerprints:list` secret-key scope."
      }
    },
    "/v1/fingerprints/{visitorId}": {
      "get": {
        "tags": [
          "Visitor fingerprints"
        ],
        "operationId": "getVisitorFingerprint",
        "summary": "Retrieve one visitor fingerprint",
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FingerprintId",
              "example": "vid_7cyvmdfjs3rzznf8m65v3bv51m"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor fingerprint detail response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorFingerprintDetailResponse",
                  "example": {
                    "data": {
                      "object": "visitor_fingerprint",
                      "id": "vid_7cyvmdfjs3rzznf8m65v3bv51m",
                      "lifecycle": {
                        "first_seen_at": "2026-03-01T18:22:11.000Z",
                        "last_seen_at": "2026-03-24T20:00:05.000Z",
                        "seen_count": 14,
                        "expires_at": "2026-03-24T20:00:05.000Z"
                      },
                      "latest_request": {
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                        "ip_address": "203.0.113.10"
                      },
                      "storage": {
                        "cookies": true,
                        "local_storage": true,
                        "indexed_db": true,
                        "service_worker": true,
                        "window_name": true
                      },
                      "anchors": {
                        "webgl_hash": "123456789",
                        "parameters_hash": "-1234567890",
                        "audio_hash": "1234567890"
                      },
                      "components": {
                        "vector": [
                          1.5
                        ]
                      },
                      "activity": {
                        "sessions": [
                          {
                            "session_id": "sid_87wfetm98myh9awj0dpt28a3kc",
                            "decision": {
                              "event_id": "evt_srwqc0yqhz4bxvtrdtf69q7vkr",
                              "verdict": "human",
                              "risk_score": 94,
                              "phase": "snapshot",
                              "is_provisional": false,
                              "manipulation": {
                                "score": 1,
                                "verdict": "none"
                              },
                              "evaluation_duration_ms": 123,
                              "evaluated_at": "2026-03-24T20:00:05.000Z"
                            },
                            "request": {
                              "url": "https://app.acme.co/signup",
                              "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
                              "ip_address": "203.0.113.10",
                              "screen_size": "1440x900",
                              "is_touch_capable": true
                            },
                            "score_breakdown": {
                              "categories": {
                                "primary": 1
                              }
                            }
                          }
                        ]
                      }
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Visitor fingerprint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `fingerprints:read` secret-key scope."
      }
    },
    "/v1/organizations": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "createOrganization",
        "summary": "Create an organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest",
                "example": {
                  "name": "Acme Growth Workspace",
                  "slug": "acme-growth"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse",
                  "example": {
                    "data": {
                      "object": "organization",
                      "id": "org_f6m39y94nh6fs513q03skj929c",
                      "name": "Acme Growth Workspace",
                      "slug": "acme-growth",
                      "status": "active",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "updated_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `organizations:create` secret-key scope."
      }
    },
    "/v1/organizations/{organizationId}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganization",
        "summary": "Retrieve one organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse",
                  "example": {
                    "data": {
                      "object": "organization",
                      "id": "org_f6m39y94nh6fs513q03skj929c",
                      "name": "Acme Growth Workspace",
                      "slug": "acme-growth",
                      "status": "active",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "updated_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `organizations:read` secret-key scope."
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "operationId": "updateOrganization",
        "summary": "Update a organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest",
                "example": {
                  "name": "Acme Growth Workspace",
                  "status": "active"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organization response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse",
                  "example": {
                    "data": {
                      "object": "organization",
                      "id": "org_f6m39y94nh6fs513q03skj929c",
                      "name": "Acme Growth Workspace",
                      "slug": "acme-growth",
                      "status": "active",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "updated_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `organizations:update` secret-key scope."
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "listOrganizationApiKeys",
        "summary": "List organization API keys",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse",
                  "example": {
                    "data": [
                      {
                        "object": "api_key",
                        "id": "key_6cw04zdmetw8t5rsdppadhper0",
                        "type": "publishable",
                        "environment": "live",
                        "name": "Acme Growth Workspace",
                        "status": "active",
                        "allowed_origins": [
                          "https://app.acme.co/signup"
                        ],
                        "scopes": [
                          "*"
                        ],
                        "rate_limit": 1,
                        "key_preview": "TRIPWIRE_SAMPLE_KEY",
                        "display_key": "TRIPWIRE_SAMPLE_KEY",
                        "revealed_key": "TRIPWIRE_SAMPLE_KEY",
                        "last_used_at": "2026-03-24T20:00:05.000Z",
                        "created_at": "2026-03-24T20:00:00.000Z",
                        "rotated_at": "2026-03-24T20:00:05.000Z",
                        "revoked_at": "2026-03-24T20:00:05.000Z",
                        "grace_expires_at": "2026-03-24T20:00:05.000Z"
                      }
                    ],
                    "pagination": {
                      "limit": 50,
                      "has_more": false,
                      "next_cursor": "eyJ2IjoxLCJzY29yZWRBdCI6IjIwMjYtMDQtMTBUMDY6NDI6NDIuNTE0WiIsInJvd0lkIjoiMTc3In0"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `api_keys:read` secret-key scope."
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "createOrganizationApiKey",
        "summary": "Create an organization API key",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest",
                "example": {
                  "name": "Production backend",
                  "type": "secret",
                  "environment": "live",
                  "scopes": [
                    "sessions:read",
                    "fingerprints:read"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issued API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse",
                  "example": {
                    "data": {
                      "object": "api_key",
                      "id": "key_6cw04zdmetw8t5rsdppadhper0",
                      "type": "publishable",
                      "environment": "live",
                      "name": "Acme Growth Workspace",
                      "status": "active",
                      "allowed_origins": [
                        "https://app.acme.co/signup"
                      ],
                      "scopes": [
                        "*"
                      ],
                      "rate_limit": 1,
                      "key_preview": "TRIPWIRE_SAMPLE_KEY",
                      "display_key": "TRIPWIRE_SAMPLE_KEY",
                      "revealed_key": "TRIPWIRE_SAMPLE_KEY",
                      "last_used_at": "2026-03-24T20:00:05.000Z",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "rotated_at": "2026-03-24T20:00:05.000Z",
                      "revoked_at": "2026-03-24T20:00:05.000Z",
                      "grace_expires_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `api_keys:manage` secret-key scope."
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{keyId}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "operationId": "revokeOrganizationApiKey",
        "summary": "Revoke a organization API key",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId",
              "example": "key_6cw04zdmetw8t5rsdppadhper0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse",
                  "example": {
                    "data": {
                      "object": "api_key",
                      "id": "key_6cw04zdmetw8t5rsdppadhper0",
                      "type": "publishable",
                      "environment": "live",
                      "name": "Acme Growth Workspace",
                      "status": "active",
                      "allowed_origins": [
                        "https://app.acme.co/signup"
                      ],
                      "scopes": [
                        "*"
                      ],
                      "rate_limit": 1,
                      "key_preview": "TRIPWIRE_SAMPLE_KEY",
                      "display_key": "TRIPWIRE_SAMPLE_KEY",
                      "revealed_key": "TRIPWIRE_SAMPLE_KEY",
                      "last_used_at": "2026-03-24T20:00:05.000Z",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "rotated_at": "2026-03-24T20:00:05.000Z",
                      "revoked_at": "2026-03-24T20:00:05.000Z",
                      "grace_expires_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Organization access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "API key not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
                      "retryable": true,
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1",
                      "docs_url": "https://app.acme.co/signup",
                      "details": {
                        "fields": [
                          {
                            "name": "Acme Growth Workspace",
                            "issue": "required",
                            "expected": "string",
                            "received": "any_of"
                          }
                        ],
                        "allowed_values": [
                          "verified"
                        ],
                        "header_name": "x-forwarded-for",
                        "parameter_set": "browser_fingerprint",
                        "next_action": "retry"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Requires the `api_keys:manage` secret-key scope."
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "operationId": "updateOrganizationApiKey",
        "summary": "Update an organization API key",
        "description": "Requires the `api_keys:manage` secret-key scope.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationId",
              "example": "org_f6m39y94nh6fs513q03skj929c"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId",
              "example": "key_6cw04zdmetw8t5rsdppadhper0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyRequest",
                "example": {
                  "name": "Acme Growth Workspace",
                  "allowed_origins": [
                    "https://app.acme.co/signup"
                  ],
                  "scopes": [
                    "*"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse",
                  "example": {
                    "data": {
                      "object": "api_key",
                      "id": "key_6cw04zdmetw8t5rsdppadhper0",
                      "type": "publishable",
                      "environment": "live",
                      "name": "Acme Growth Workspace",
                      "status": "active",
                      "allowed_origins": [
                        "https://app.acme.co/signup"
                      ],
                      "scopes": [
                        "*"
                      ],
                      "rate_limit": 1,
                      "key_preview": "TRIPWIRE_SAMPLE_KEY",
                      "display_key": "TRIPWIRE_SAMPLE_KEY",
                      "revealed_key": "TRIPWIRE_SAMPLE_KEY",
                      "last_used_at": "2026-03-24T20:00:05.000Z",
                      "created_at": "2026-03-24T20:00:00.000Z",
                      "rotated_at": "2026-03-24T20:00:05.000Z",
                      "revoked_at": "2026-03-24T20:00:05.000Z",
                      "grace_expires_at": "2026-03-24T20:00:05.000Z"
                    },
                    "meta": {
                      "request_id": "req_cf147349a4134208aebb8c70e25fb7e1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope",
                  "example": {
                    "error": {
                      "code": "request.validation_failed",
                      "message": "Observation payload failed validation.",
                      "status": 1,
[...]
