{
  "openapi": "3.1.0",
  "info": {
    "title": "Tripwire Server SDK API",
    "version": "2026-03-25",
    "description": "Customer-facing server-side Tripwire APIs for the public SDK surface."
  },
  "servers": [
    {
      "url": "https://api.tripwirejs.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Durable session readback endpoints."
    },
    {
      "name": "Visitor fingerprints",
      "description": "Durable visitor fingerprint readback endpoints."
    },
    {
      "name": "Teams",
      "description": "Team lifecycle endpoints."
    },
    {
      "name": "API Keys",
      "description": "Team API key lifecycle endpoints."
    },
    {
      "name": "Gate",
      "description": "Registry, team-owned services, signup sessions, agent tokens, and dashboard login sessions."
    },
    {
      "name": "Gate Webhooks",
      "description": "Outbound Gate webhook delivery contracts."
    }
  ],
  "paths": {
    "/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "listSessions",
        "summary": "List sessions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verdict",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Verdict"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "getSession",
        "summary": "Retrieve one session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session detail response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fingerprints": {
      "get": {
        "tags": [
          "Visitor fingerprints"
        ],
        "operationId": "listVisitorFingerprints",
        "summary": "List visitor fingerprints",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "seen_count",
                "first_seen"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor fingerprint list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorFingerprintListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fingerprints/{visitorId}": {
      "get": {
        "tags": [
          "Visitor fingerprints"
        ],
        "operationId": "getVisitorFingerprint",
        "summary": "Retrieve one visitor fingerprint",
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FingerprintId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor fingerprint detail response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorFingerprintDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Visitor fingerprint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "createTeam",
        "summary": "Create a team",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam",
        "summary": "Retrieve one team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Team not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "operationId": "updateTeam",
        "summary": "Update a team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated team response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Team not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "listTeamApiKeys",
        "summary": "List team API keys",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key list response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Team not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "createTeamApiKey",
        "summary": "Create a team API key",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issued API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Team not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/api-keys/{keyId}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "operationId": "revokeTeamApiKey",
        "summary": "Revoke a team API key",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "API key not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/api-keys/{keyId}/rotations": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "rotateTeamApiKey",
        "summary": "Rotate a team API key",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TeamId"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Rotated API key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Team access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "API key not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/registry": {
      "get": {
        "tags": [
          "Gate"
        ],
        "operationId": "listGateRegistryServices",
        "summary": "List Gate services",
        "responses": {
          "200": {
            "description": "Gate registry response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateRegistryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/registry/{serviceId}": {
      "get": {
        "tags": [
          "Gate"
        ],
        "operationId": "getGateRegistryService",
        "summary": "Get a Gate service",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateServiceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate service response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateRegistryEntryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/services": {
      "get": {
        "tags": [
          "Gate"
        ],
        "operationId": "listManagedGateServices",
        "summary": "List Gate services for the authenticated team",
        "description": "Requires Authorization: Bearer sk_* with the gate:services:read scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Team Gate service list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateManagedServiceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "createManagedGateService",
        "summary": "Create a Gate service for the authenticated team",
        "description": "Requires Authorization: Bearer sk_* with the gate:services:manage scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Gate service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateManagedServiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate service_id or team Gate service limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/services/{serviceId}": {
      "get": {
        "tags": [
          "Gate"
        ],
        "operationId": "getManagedGateService",
        "summary": "Get one Gate service for the authenticated team",
        "description": "Requires Authorization: Bearer sk_* with the gate:services:read scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateServiceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate service response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateManagedServiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Gate service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Gate"
        ],
        "operationId": "updateManagedGateService",
        "summary": "Update a Gate service for the authenticated team",
        "description": "Requires Authorization: Bearer sk_* with the gate:services:manage scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateServiceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Gate service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateManagedServiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Gate service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Gate"
        ],
        "operationId": "disableManagedGateService",
        "summary": "Disable a Gate service for the authenticated team",
        "description": "Requires Authorization: Bearer sk_* with the gate:services:manage scope. This is a soft delete that sets status=disabled.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateServiceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disabled Gate service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateManagedServiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Gate service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/sessions": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "createGateSession",
        "summary": "Create a Gate signup session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Gate session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSessionCreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/sessions/{gateSessionId}": {
      "get": {
        "tags": [
          "Gate"
        ],
        "operationId": "pollGateSession",
        "summary": "Poll a Gate signup session",
        "description": "Requires Authorization: Bearer gtpoll_....",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "gateSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateSessionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate session status response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSessionPollResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "Session expired or delivery consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/sessions/{gateSessionId}/ack": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "acknowledgeGateSessionDelivery",
        "summary": "Acknowledge Gate delivery receipt",
        "description": "Requires Authorization: Bearer gtpoll_....",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "gateSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GateSessionId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeGateSessionDeliveryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateSessionDeliveryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Invalid ack or bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Session not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "Delivery already consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/login-sessions": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "createGateLoginSession",
        "summary": "Create a Gate dashboard login session",
        "description": "Requires Authorization: Bearer agt_....",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGateLoginSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Gate login session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateLoginSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Invalid agent token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Service not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/agent-tokens/verify": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "verifyGateAgentToken",
        "summary": "Verify a Gate agent token",
        "description": "Requires Authorization: Bearer sk_* with the gate:agent_tokens:verify scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAgentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent token verification response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTokenVerificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/agent-tokens/revoke": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "revokeGateAgentToken",
        "summary": "Revoke a Gate agent token",
        "description": "Requires Authorization: Bearer sk_* with the gate:agent_tokens:revoke scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeAgentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Agent token revoked."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Agent token not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gate/login-sessions/consume": {
      "post": {
        "tags": [
          "Gate"
        ],
        "operationId": "consumeGateLoginSessionCode",
        "summary": "Consume a Gate dashboard login code",
        "description": "Requires Authorization: Bearer sk_* with the gate:login_sessions:consume scope.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumeGateLoginSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard login consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateDashboardLoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Secret key required or insufficient scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "Login code expired or already consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcknowledgeGateSessionDeliveryRequest": {
        "type": "object",
        "required": [
          "ack_token"
        ],
        "properties": {
          "ack_token": {
            "type": "string"
          }
        }
      },
      "AgentToken": {
        "type": "string",
        "example": "agt_live_abc123"
      },
      "AgentTokenVerification": {
        "type": "object",
        "required": [
          "valid"
        ],
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "gate_account_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentTokenVerificationResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AgentTokenVerification"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ApiErrorDetails": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiFieldIssue"
            }
          },
          "allowed_values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "header_name": {
            "type": "string"
          },
          "parameter_set": {
            "type": "string"
          },
          "next_action": {
            "type": "string",
            "enum": [
              "retry",
              "new_session",
              "reload_bundle",
              "contact_support"
            ]
          }
        },
        "additionalProperties": true
      },
      "ApiErrorEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/PublicError"
          }
        }
      },
      "ApiFieldIssue": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "issue"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "issue": {
            "type": "string"
          },
          "expected": {
            "type": "string"
          },
          "received": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "public_key",
          "name",
          "environment",
          "allowed_origins",
          "rate_limit",
          "status",
          "created_at",
          "rotated_at",
          "revoked_at"
        ],
        "properties": {
          "object": {
            "const": "api_key"
          },
          "id": {
            "$ref": "#/components/schemas/ApiKeyId"
          },
          "public_key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/ApiKeyEnvironment"
          },
          "allowed_origins": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "rate_limit": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ApiKeyStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "rotated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "ApiKeyEnvironment": {
        "type": "string",
        "enum": [
          "live",
          "test"
        ]
      },
      "ApiKeyId": {
        "type": "string",
        "pattern": "^key_[0123456789abcdefghjkmnpqrstvwxyz]{26}$"
      },
      "ApiKeyListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "pagination",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CursorPagination"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ApiKey"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ApiKeyStatus": {
        "type": "string",
        "enum": [
          "active",
          "revoked",
          "rotated"
        ]
      },
      "ConsumeGateLoginSessionRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/GateLoginCode"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/ApiKeyEnvironment"
          },
          "allowed_origins": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "rate_limit": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "CreateGateLoginSessionRequest": {
        "type": "object",
        "required": [
          "service_id"
        ],
        "properties": {
          "service_id": {
            "$ref": "#/components/schemas/GateServiceId"
          }
        }
      },
      "CreateGateServiceRequest": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "website",
          "webhook_url"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/GateServiceId"
          },
          "discoverable": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "dashboard_login_url": {
            "type": "string",
            "format": "uri"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "webhook_secret": {
            "type": "string",
            "minLength": 32,
            "description": "If provided, must be at least 32 characters. Omit on create to let Gate generate one."
          },
          "env_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateEnvVar"
            }
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          },
          "sdks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateSdkInstall"
            }
          },
          "branding": {
            "$ref": "#/components/schemas/GateBranding"
          },
          "consent": {
            "$ref": "#/components/schemas/GateConsentConfig"
          }
        }
      },
      "CreateGateSessionRequest": {
        "type": "object",
        "required": [
          "service_id",
          "account_name",
          "delivery"
        ],
        "properties": {
          "service_id": {
            "$ref": "#/components/schemas/GateServiceId"
          },
          "account_name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "delivery": {
            "$ref": "#/components/schemas/GateDeliveryRequest"
          }
        }
      },
      "CreateTeamRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "slug"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "$ref": "#/components/schemas/Slug"
          }
        }
      },
      "CursorPagination": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "limit",
          "has_more"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "Decision": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "event_id",
          "verdict",
          "risk_score",
          "phase",
          "is_provisional",
          "manipulation",
          "evaluation_duration_ms",
          "evaluated_at"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/EventId"
          },
          "verdict": {
            "$ref": "#/components/schemas/Verdict"
          },
          "risk_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "phase": {
            "$ref": "#/components/schemas/Phase"
          },
          "is_provisional": {
            "type": "boolean"
          },
          "manipulation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ManipulationSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "evaluation_duration_ms": {
            "type": "integer",
            "minimum": 0
          },
          "evaluated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventId": {
        "type": "string",
        "pattern": "^evt_[0123456789abcdefghjkmnpqrstvwxyz]{26}$"
      },
      "FingerprintId": {
        "type": "string",
        "pattern": "^vid_[0123456789abcdefghjkmnpqrstvwxyz]{26}$"
      },
      "GateApprovedWebhookPayload": {
        "type": "object",
        "required": [
          "event",
          "service_id",
          "gate_session_id",
          "gate_account_id",
          "account_name",
          "metadata",
          "tripwire",
          "delivery"
        ],
        "properties": {
          "event": {
            "type": "string",
            "const": "gate.session.approved"
          },
          "service_id": {
            "$ref": "#/components/schemas/GateServiceId"
          },
          "gate_session_id": {
            "$ref": "#/components/schemas/GateSessionId"
          },
          "gate_account_id": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "tripwire": {
            "type": "object",
            "required": [
              "verdict",
              "score"
            ],
            "properties": {
              "verdict": {
                "type": "string",
                "enum": [
                  "bot",
                  "human",
                  "inconclusive"
                ]
              },
              "score": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "delivery": {
            "$ref": "#/components/schemas/GateDeliveryRequest"
          }
        }
      },
      "GateApprovedWebhookResponse": {
        "type": "object",
        "required": [
          "encrypted_delivery"
        ],
        "properties": {
          "encrypted_delivery": {
            "$ref": "#/components/schemas/GateDeliveryEnvelope"
          }
        }
      },
      "GateBranding": {
        "type": "object",
        "required": [
          "verified"
        ],
        "properties": {
          "logo_url": {
            "type": "string",
            "format": "uri"
          },
          "primary_color": {
            "type": "string",
            "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{4}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$",
            "description": "Hex color in #RGB, #RGBA, #RRGGBB, or #RRGGBBAA format."
          },
          "secondary_color": {
            "type": "string",
            "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{4}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$",
            "description": "Hex color in #RGB, #RGBA, #RRGGBB, or #RRGGBBAA format."
          },
          "ascii_art": {
            "type": "string"
          },
          "verified": {
            "type": "boolean",
            "readOnly": true
          }
        }
      },
      "GateConsentConfig": {
        "type": "object",
        "properties": {
          "terms_url": {
            "type": "string",
            "format": "uri"
          },
          "privacy_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GateDashboardLogin": {
        "type": "object",
        "required": [
          "object",
          "gate_account_id",
          "account_name"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_dashboard_login"
          },
          "gate_account_id": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          }
        }
      },
      "GateDashboardLoginResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateDashboardLogin"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateDeliveryBundle": {
        "type": "object",
        "required": [
          "integrator",
          "gate"
        ],
        "properties": {
          "integrator": {
            "$ref": "#/components/schemas/GateDeliveryEnvelope"
          },
          "gate": {
            "$ref": "#/components/schemas/GateDeliveryEnvelope"
          }
        }
      },
      "GateDeliveryEnvelope": {
        "type": "object",
        "required": [
          "version",
          "algorithm",
          "key_id",
          "ephemeral_public_key",
          "salt",
          "iv",
          "ciphertext",
          "tag"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "const": 1
          },
          "algorithm": {
            "type": "string",
            "const": "x25519-hkdf-sha256/aes-256-gcm"
          },
          "key_id": {
            "type": "string"
          },
          "ephemeral_public_key": {
            "type": "string"
          },
          "salt": {
            "type": "string"
          },
          "iv": {
            "type": "string"
          },
          "ciphertext": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "GateDeliveryRequest": {
        "type": "object",
        "required": [
          "version",
          "algorithm",
          "key_id",
          "public_key"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "const": 1
          },
          "algorithm": {
            "type": "string",
            "const": "x25519-hkdf-sha256/aes-256-gcm"
          },
          "key_id": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          }
        }
      },
      "GateEnvVar": {
        "type": "object",
        "required": [
          "name",
          "key",
          "secret"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "secret": {
            "type": "boolean"
          }
        }
      },
      "GateLoginCode": {
        "type": "string",
        "example": "glogin_abc123"
      },
      "GateLoginSession": {
        "type": "object",
        "required": [
          "object",
          "id",
          "status",
          "consent_url",
          "expires_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_login_session"
          },
          "id": {
            "$ref": "#/components/schemas/GateSessionId"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          },
          "consent_url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GateLoginSessionResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateLoginSession"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateManagedService": {
        "type": "object",
        "required": [
          "object",
          "id",
          "status",
          "discoverable",
          "name",
          "description",
          "website",
          "webhook_url",
          "env_vars",
          "docs_url",
          "sdks",
          "branding",
          "consent",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_service"
          },
          "id": {
            "$ref": "#/components/schemas/GateServiceId"
          },
          "status": {
            "$ref": "#/components/schemas/GateServiceStatus"
          },
          "discoverable": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "dashboard_login_url": {
            "type": "string",
            "format": "uri"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateEnvVar"
            }
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          },
          "sdks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateSdkInstall"
            }
          },
          "branding": {
            "$ref": "#/components/schemas/GateBranding"
          },
          "consent": {
            "$ref": "#/components/schemas/GateConsentConfig"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GateManagedServiceListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateManagedService"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateManagedServiceResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateManagedService"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GatePollToken": {
        "type": "string",
        "example": "gtpoll_live_abc123"
      },
      "GateRegistryEntry": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "website",
          "env_vars",
          "docs_url",
          "sdks",
          "branding",
          "consent",
          "status",
          "discoverable"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/GateServiceId"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "dashboard_login_url": {
            "type": "string",
            "format": "uri"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateEnvVar"
            }
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          },
          "sdks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateSdkInstall"
            }
          },
          "branding": {
            "$ref": "#/components/schemas/GateBranding"
          },
          "consent": {
            "$ref": "#/components/schemas/GateConsentConfig"
          },
          "status": {
            "$ref": "#/components/schemas/GateServiceStatus"
          },
          "discoverable": {
            "type": "boolean"
          }
        }
      },
      "GateRegistryEntryResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateRegistryEntry"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateRegistryListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GateRegistryEntry"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateSdkInstall": {
        "type": "object",
        "required": [
          "label",
          "install",
          "url"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "install": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GateServiceId": {
        "type": "string",
        "example": "acme-prod",
        "minLength": 3,
        "maxLength": 32,
        "pattern": "^[a-z0-9](?:[a-z0-9_-]{1,30}[a-z0-9])$",
        "description": "Canonical Gate service slug used by the public registry and by npx signup <service>. Lowercase letters, numbers, dashes, and underscores only; must start and end with a letter or number."
      },
      "GateServiceStatus": {
        "type": "string",
        "enum": [
          "active",
          "disabled"
        ]
      },
      "GateSessionCreate": {
        "type": "object",
        "required": [
          "object",
          "id",
          "status",
          "poll_token",
          "consent_url",
          "expires_at"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_session"
          },
          "id": {
            "$ref": "#/components/schemas/GateSessionId"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          },
          "poll_token": {
            "$ref": "#/components/schemas/GatePollToken"
          },
          "consent_url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GateSessionCreateResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateSessionCreate"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateSessionDeliveryAcknowledgement": {
        "type": "object",
        "required": [
          "object",
          "gate_session_id",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_session_delivery"
          },
          "gate_session_id": {
            "$ref": "#/components/schemas/GateSessionId"
          },
          "status": {
            "type": "string",
            "const": "acknowledged"
          }
        }
      },
      "GateSessionDeliveryResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateSessionDeliveryAcknowledgement"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "GateSessionId": {
        "type": "string",
        "example": "gate_abc123xyz"
      },
      "GateSessionPollData": {
        "type": "object",
        "required": [
          "object",
          "id",
          "status"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "gate_session"
          },
          "id": {
            "$ref": "#/components/schemas/GateSessionId"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "expired"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "gate_account_id": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "delivery_bundle": {
            "$ref": "#/components/schemas/GateDeliveryBundle"
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GateSessionPollResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GateSessionPollData"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "IssuedApiKey": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "public_key",
          "name",
          "environment",
          "allowed_origins",
          "rate_limit",
          "status",
          "created_at",
          "rotated_at",
          "revoked_at",
          "secret_key"
        ],
        "properties": {
          "object": {
            "const": "api_key"
          },
          "id": {
            "$ref": "#/components/schemas/ApiKeyId"
          },
          "public_key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/ApiKeyEnvironment"
          },
          "allowed_origins": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "rate_limit": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ApiKeyStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "rotated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "secret_key": {
            "type": "string"
          }
        }
      },
      "IssuedApiKeyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/IssuedApiKey"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ManipulationSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "score",
          "verdict"
        ],
        "properties": {
          "score": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              {
                "type": "null"
              }
            ]
          },
          "verdict": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ManipulationVerdict"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ManipulationVerdict": {
        "type": "string",
        "enum": [
          "none",
          "low",
          "medium",
          "high"
        ]
      },
      "ObservationHash": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "null"
          }
        ]
      },
      "Phase": {
        "type": "string",
        "enum": [
          "snapshot",
          "behavioral"
        ]
      },
      "PublicError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "status",
          "retryable",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "string",
            "x-tripwire-known-values-ref": "#/components/schemas/KnownPublicErrorCode"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "retryable": {
            "type": "boolean"
          },
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          },
          "details": {
            "$ref": "#/components/schemas/ApiErrorDetails"
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "url",
          "user_agent",
          "ip_address",
          "screen_size",
          "is_touch_capable"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "user_agent": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "screen_size": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_touch_capable": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "RequestId": {
        "type": "string",
        "pattern": "^req_[0-9a-f]{32}$"
      },
      "ResponseMeta": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id"
        ],
        "properties": {
          "request_id": {
            "$ref": "#/components/schemas/RequestId"
          }
        }
      },
      "RevokeAgentTokenRequest": {
        "type": "object",
        "required": [
          "agent_token"
        ],
        "properties": {
          "agent_token": {
            "$ref": "#/components/schemas/AgentToken"
          }
        }
      },
      "ScoreBreakdown": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "categories"
        ],
        "properties": {
          "categories": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100
                }
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SessionAnalysisCoverage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "browser",
          "device",
          "network",
          "runtime",
          "behavioral",
          "visitor_identity"
        ],
        "properties": {
          "browser": {
            "type": "boolean"
          },
          "device": {
            "type": "boolean"
          },
          "network": {
            "type": "boolean"
          },
          "runtime": {
            "type": "boolean"
          },
          "behavioral": {
            "type": "boolean"
          },
          "visitor_identity": {
            "type": "boolean"
          }
        }
      },
      "SessionAutomation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "category",
          "confidence",
          "provider",
          "product",
          "framework",
          "concealment_style",
          "organization",
          "facets"
        ],
        "properties": {
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "product": {
            "type": [
              "string",
              "null"
            ]
          },
          "framework": {
            "type": [
              "string",
              "null"
            ]
          },
          "concealment_style": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization": {
            "type": [
              "string",
              "null"
            ]
          },
          "facets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SessionAutomationFacet"
            }
          }
        }
      },
      "SessionAutomationFacet": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "value",
          "confidence",
          "relation"
        ],
        "properties": {
          "value": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "relation": {
            "type": "string"
          }
        }
      },
      "SessionBrowser": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "version",
          "major_version",
          "engine"
        ],
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "major_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine": {
            "type": "string"
          }
        }
      },
      "SessionClientTelemetry": {
        "type": "object",
        "additionalProperties": false,
        "description": "Curated lower-level client telemetry grouped for investigation and analysis.",
        "required": [
          "navigator",
          "storage",
          "canvas",
          "graphics",
          "audio",
          "fonts",
          "media"
        ],
        "properties": {
          "navigator": {
            "$ref": "#/components/schemas/SessionRawDeviceNavigator"
          },
          "storage": {
            "$ref": "#/components/schemas/SessionRawDeviceStorage"
          },
          "canvas": {
            "$ref": "#/components/schemas/SessionRawDeviceCanvas"
          },
          "graphics": {
            "$ref": "#/components/schemas/SessionRawDeviceGraphics"
          },
          "audio": {
            "$ref": "#/components/schemas/SessionRawDeviceAudio"
          },
          "fonts": {
            "$ref": "#/components/schemas/SessionRawDeviceFonts"
          },
          "media": {
            "$ref": "#/components/schemas/SessionRawDeviceMedia"
          }
        }
      },
      "SessionConnectionFingerprint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ja4",
          "http2",
          "user_agent_alignment"
        ],
        "properties": {
          "ja4": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "hash",
              "profile",
              "family",
              "product",
              "confidence",
              "match_source",
              "reference",
              "deterministic"
            ],
            "properties": {
              "hash": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "profile": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "family": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "product": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "confidence": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "match_source": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "deterministic": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "reference": {
                "anyOf": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "label",
                      "source",
                      "protocol",
                      "tls_version",
                      "sni",
                      "alpn",
                      "cipher_count",
                      "ext_count",
                      "sample_size",
                      "verified"
                    ],
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string"
                      },
                      "protocol": {
                        "type": "string"
                      },
                      "tls_version": {
                        "type": "string"
                      },
                      "sni": {
                        "type": "string"
                      },
                      "alpn": {
                        "type": "string"
                      },
                      "cipher_count": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "min",
                          "max"
                        ],
                        "properties": {
                          "min": {
                            "type": "integer"
                          },
                          "max": {
                            "type": "integer"
                          }
                        }
                      },
                      "ext_count": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "min",
                          "max"
                        ],
                        "properties": {
                          "min": {
                            "type": "integer"
                          },
                          "max": {
                            "type": "integer"
                          }
                        }
                      },
                      "sample_size": {
                        "type": "integer"
                      },
                      "verified": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          "http2": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "akamai_fingerprint",
              "profile"
            ],
            "properties": {
              "akamai_fingerprint": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "profile": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "user_agent_alignment": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "match",
                  "mismatch",
                  "unknown"
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "created_at",
          "decision",
          "highlights",
          "automation",
          "web_bot_auth",
          "network",
          "runtime_integrity",
          "visitor_fingerprint",
          "connection_fingerprint",
          "previous_decisions",
          "request",
          "browser",
          "device",
          "analysis_coverage",
          "signals_fired",
          "client_telemetry"
        ],
        "properties": {
          "object": {
            "const": "session"
          },
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "decision": {
            "$ref": "#/components/schemas/SessionDetailDecision"
          },
          "highlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionHighlight"
            }
          },
          "automation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SessionAutomation"
              },
              {
                "type": "null"
              }
            ]
          },
          "web_bot_auth": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SessionWebBotAuth"
              },
              {
                "type": "null"
              }
            ]
          },
          "network": {
            "$ref": "#/components/schemas/SessionNetwork"
          },
          "runtime_integrity": {
            "$ref": "#/components/schemas/SessionRuntimeIntegrity"
          },
          "visitor_fingerprint": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SessionDetailVisitorFingerprint"
              },
              {
                "type": "null"
              }
            ]
          },
          "connection_fingerprint": {
            "$ref": "#/components/schemas/SessionConnectionFingerprint"
          },
          "previous_decisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionDetailDecision"
            }
          },
          "request": {
            "$ref": "#/components/schemas/SessionDetailRequest"
          },
          "browser": {
            "$ref": "#/components/schemas/SessionBrowser"
          },
          "device": {
            "$ref": "#/components/schemas/SessionDevice"
          },
          "analysis_coverage": {
            "$ref": "#/components/schemas/SessionAnalysisCoverage"
          },
          "signals_fired": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionSignalFired"
            }
          },
          "client_telemetry": {
            "$ref": "#/components/schemas/SessionClientTelemetry"
          }
        }
      },
      "SessionDetailDecision": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "event_id",
          "automation_status",
          "risk_score",
          "evaluation_phase",
          "decision_status",
          "evaluated_at"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/EventId"
          },
          "automation_status": {
            "type": "string",
            "enum": [
              "automated",
              "human",
              "uncertain"
            ]
          },
          "risk_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "evaluation_phase": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Phase"
              },
              {
                "type": "null"
              }
            ]
          },
          "decision_status": {
            "type": "string",
            "enum": [
              "preliminary",
              "final"
            ]
          },
          "evaluated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionDetailRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "url",
          "referrer",
          "user_agent"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "referrer": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_agent": {
            "type": "string"
          }
        }
      },
      "SessionDetailResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SessionDetail"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "SessionDetailVisitorFingerprint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "confidence",
          "identified_at",
          "lifecycle"
        ],
        "properties": {
          "object": {
            "const": "visitor_fingerprint"
          },
          "id": {
            "$ref": "#/components/schemas/FingerprintId"
          },
          "confidence": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              {
                "type": "null"
              }
            ]
          },
          "identified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lifecycle": {
            "$ref": "#/components/schemas/SessionDetailVisitorFingerprintLifecycle"
          }
        }
      },
      "SessionDetailVisitorFingerprintLifecycle": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "first_seen_at",
          "last_seen_at",
          "seen_count"
        ],
        "properties": {
          "first_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_seen_at": {
            "type": [
              "string",
[...]
